streamlit
google-generativeai
langchain
transformers
sentence-transformers
tf-keras
PyPDF2
chromadb
faiss-cpu
langchain_google_genai
langchain-community
tensorflow
torch
keras
matplotlib
seaborn
PyMuPDF
fitz
docx
python-docx

